# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/

# FPGA / Hardware Tools
*.jou
*.log
*.str
*.zip
*.tar.gz
*.bit
*.bin
*.mcs
*.prm
*.sh
.Xil/
vivado*.backup.jou
vivado*.backup.log
xsim.dir/

# OS / IDE
.DS_Store
.vscode/
.idea/
.project
.pydevproject
.settings/

# Large Files
*.onnx
*.pth
*.bin
/weights/
